@font-face {
	font-family: 'Sahel';
	src: url('http://fonts.codearena.ir/rastikerdar/sahel/sahel.eot');
	src: url('http://fonts.codearena.ir/rastikerdar/sahel/sahel.eot?#iefix') format('embedded-opentype'),
	url('http://fonts.codearena.ir/rastikerdar/sahel/sahel.woff') format('woff'),
	url('http://fonts.codearena.ir/rastikerdar/sahel/sahel.ttf') format('truetype');
	font-weight: normal;
}

body {
	font-family: 'Sahel';
	direction: rtl;
	text-align: right;
}

/* h1, h2, h3, h4, h5, h6 {
	font-family: Tanha;
} */

.btn-round {
	border-radius: 21px;
	padding: 15 30px !important;
}

.main-banner, .top-banner {
	background-size: cover;
	background-image: url('../img/bg.jpg');
}
.main-banner > .banner-container {
	min-height:100vh;
	padding: 50px 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0,0,0,0.5);
}

.banner-container > .card {
	width: 85%;
}

.w-20 {
	width: 20%;
}

.border-light {
	border-color: rgba(255,255,255,0.5);
}

.custom-control-label::before, .custom-control-label::after {
	left: unset;
}

.custom-control-label > span {
	padding-right: 25px;
}

.rahgiri {
	text-align: center;
	border: 2px solid #E3342F;
	padding: 10px 50px;
}

.rahgiri-char {
	display: inline-block;
	margin: 0 3px;
	font-size: 1.25em;
}


.main-logo {
	width: 150px;
	position: fixed;
	bottom: 50px;
	left: 50px;
}
